<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,291}</string>
                <key>spriteSize</key>
                <string>{192,286}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{569,1},{192,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,297}</string>
                <key>spriteSize</key>
                <string>{192,276}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{607,195},{192,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,272}</string>
                <key>spriteSize</key>
                <string>{192,326}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,285}</string>
                <key>spriteSize</key>
                <string>{190,294}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{311,299},{190,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,286}</string>
                <key>spriteSize</key>
                <string>{150,296}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{417,1},{150,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-102,286}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{195,1},{220,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,278}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{1,329},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pm.png</string>
            <key>size</key>
            <string>{856,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38a8285a1ceb34a926128c1f32f1806f:3b150d2d827c20522b87414e7f09032a:1d3c240737145e126dec015f46fcf553$</string>
            <key>textureFileName</key>
            <string>pm.png</string>
        </dict>
    </dict>
</plist>
