@url-prefix: "assets";

.red {
  color: red;
}

.border {
  background-image: url('assets/img/game-view.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: inherit;
  display: flex;
  flex-direction: column;

  .header {
    text-align: right;
    color: #f9fb00;
    font-weight: bold;
  }

  .body {
    border: 1px solid #ccc;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;

    .background {
      // background: #a2eca22d;
      // height: 40vh;
      background-image: url('assets/img/background001.png');
      background-size: 12rem 12rem;
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex: 1;

      .person {
        color: rgb(255, 0, 34);
        display: flex;
        margin-bottom: 7rem;
        flex-direction: column;

        >img {
          width: 7rem;
        }
      }

      .animeFaster {
        position: absolute;
      }

      .animeInit {
        position: absolute;
        width: 0;
        // width: 4rem;
        transition: 0.1s all;
      }

      .ttkAmine {
        width: 4rem;
      }
    }
  }

  .hero {
    border: 1px solid #cdcdcd;
    font-size: .7rem;
    overflow: auto;
    max-height: 30vh;

    .heroAttr {
      display: flex;
      justify-content: space-around;
      color: #24ff00;
      border-bottom: 0.1rem solid #1aeb47;
      background-image: linear-gradient(354deg, #2c95915e 50%, #dc143c00 51%), linear-gradient(292deg, #2965f942 50%, #4fe3a48c 51%), linear-gradient(293deg, #9affb487 50%, #dc143c00 51%), radial-gradient(ellipse, rgba(255, 255, 255, 0.5) 50%, rgb(143 43 233 / 52%) 51%);
      height: 2rem;
      align-items: center;

      .levelUpBtn {
        width: 3.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        color: yellow;
        border: none;
        border-radius: 5px;
        transition: 0.1s all;
        background-image: linear-gradient(349deg, #958f2c5e 50%, #dc143c00 51%), linear-gradient(13deg, #2965f942 50%, #4fe3a48c 51%), linear-gradient(3deg, #ff9a9a87 50%, #dc143c00 51%), radial-gradient(ellipse, rgba(255, 255, 255, 0.5) 30%, rgba(143, 43, 233, 0.52) 79%);

        &:active {
          transform: scale(0.95);
          // box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.24);
        }
      }

      .heroTxt {
        width: 65vw;
        color: white;
        font-size: 0.8rem;
        margin-left: 1rem;
      }

      .heroImg {
        >img {
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }

    .heroName {
      color: aqua;
      font-size: .7rem;
      border-bottom: .1rem solid #1aeb47;
      background-image: linear-gradient(354deg, #2c95915e 50%, #dc143c00 51%), linear-gradient(292deg, #2965f942 50%, #4fe3a48c 51%), linear-gradient(293deg, #9affb487 50%, #dc143c00 51%), radial-gradient(ellipse, rgba(255, 255, 255, 0.5) 50%, rgba(143, 43, 233, 0.52) 51%);
      height: 2rem;
    }
  }
}

.jc {
  position: absolute;
  font-size: 2rem;
  // display: inline-block; 
}

.yidai {
  // animation: mymove  .8s infinite;
  // animation-iteration-count: 1; 
  // opacity: 0;
  transition: .8s;
  display: inline-block;
  transform: translate(20px, -101px);
}

// 点击攻击的动画

@keyframes mymove {

  0%,
  to {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(20px, -101px);
    opacity: 0.3;
  }

  100% {
    transform: translate(20px, -101px);
    opacity: 0.3;
  }

}