.body{ 
  height: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden; 
  border-top: 10px solid #f44444;
  border-bottom: 10px solid #f44444;
  .btnAB{
    width: 3rem;
    height: 3rem;
    text-align: center;
  }
}