.body {
  border-top: 10px solid #f44444;
  border-bottom: 10px solid #f44444;
  height: calc(100% - 20px); 
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;

  .canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btnABLayer {
    padding-top: 2rem;

    .btnSelect{
      font-size: 0.5rem
    }

    .btnAB {
      width: 2.6rem;
      height: 2.6rem;
      text-align: center;
      margin-bottom: 0.5rem;
      touch-action: none;
      border-radius: 50%;
      color: #446cf4;
      border: none;
      background-color: #ededed;
      font-size: 1rem;
    }
  }

  .joyBtn {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    margin: auto;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  .tip{
    font-size: 0.7rem;
    position: absolute;
    top: 13px;
    color: #bbbbbb;
  }
} 